[package]
name = "{{PROJECT_NAME}}"
version = "0.1.0"
edition = "2021"
build = "build.rs"

[dependencies]
dampen-core = "{{DAMPEN_VERSION}}"
dampen-iced = "{{DAMPEN_VERSION}}"
dampen-macros = "{{DAMPEN_VERSION}}"
iced = "{{ICED_VERSION}}"
serde = { version = "{{SERDE_VERSION}}", features = ["derive"] }
serde_json = "{{SERDE_JSON_VERSION}}"
