<dampen version="1.1" encoding="utf-8">
    <column padding="40" spacing="20">
        <text value="{{WINDOW_NAME_TITLE}}" size="32" weight="bold" />
        <button label="Click me!" on_click="on_action" />
        <text value="{message}" size="24" />
    </column>
</dampen>
